html,
body,
#intro {
  height: 100%;
  font-family: lato;
}
#intro-landingpage {
  background-image: url("bild.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  -o-background-size: cover;
  height: 100%;
  color: white;
  padding-top: 5%;
}
#content {
  text-align: center;
  margin-top: 30%;
  height: 100%;
}
h3 {
  color: black;
}
